services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      - POSTGRES_DB=n8n
      - POSTGRES_USER=n8n
      - POSTGRES_PASSWORD=n8nPassworD1
    volumes:
      - ./data:/var/lib/postgresql/data
#	  - /usr/bin/bash:/usr/bin/bash
    networks:
      - postgres
    labels:
      - "traefik.enable=false"
    #entrypoint: ["/bin/sh", "-c", "sleep infinity"]

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    depends_on:
      - postgres
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_SCHEMA=public
      - DB_POSTGRESDB_PASSWORD=n8nPassworD1
      - N8N_RUNNERS_ENABLED=true
      - N8N_HOST=n8n.ciwgserver.com
      - WEBHOOK_URL=https://n8n.ciwgserver.com
#      - EXECUTIONS_DATA_PRUNE=true
#      - EXECUTIONS_DATA_MAX_AGE=24 # Delete execution logs older than 24 hours
#      - EXECUTIONS_DATA_SAVE_ON_ERROR=all
#      - EXECUTIONS_DATA_SAVE_ON_SUCCESS=none # CRITICAL: Don't save logs for successful runs
#      - EXECUTIONS_DATA_SAVE_ON_PROGRESS=false
    volumes:
      - ./n8n:/home/node/.n8n
    expose:
      - "5678"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`n8n.ciwgserver.com`)"
      - "traefik.http.routers.n8n.tls=true"
      - "traefik.http.routers.n8n.tls.certresolver=lets-encrypt"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"
    networks:
      - postgres
      - web

networks:
  postgres:
    driver: bridge
  web:
    external: true
